In [1]:
#Loading Packages
import tabu_search_functions
from importlib import reload
reload(tabu_search_functions)#tabu_search_functions若有更新，會重新載入
import time
import functions as functions
import numpy as np

Random Initial Solution:  ['307851001', '356808001', '307035001', '306008001', '307942001', '356564001', '306525001', '306016012', '306050011', '307867001', '306016022', '', '356019001', '307034001', '', '356813001', '356389001', '', '356813004', '356813002', '', '356387001', '306736001', '', '306000001', '307873001', '', '356461001', '356395001', '', '356822001', '356388001', '', '307857001', '356813003', '', '356425001', '307901001', '', '306737001', '306016002', '', '307870001', '307932001', '']

# tabu search

In [2]:
#Tabu Search + random起始法
TimeRecord=[] #一次優化耗時紀錄
ScoreRecord=[] #一次優化分數紀錄
Schedule_optimized=[] #一次優化結果List紀錄

for i in range(10):
    print('\n\n----------------RUN', i+1 ,'----------------')
    start_time = time.time()
    
    #Tabu Search Main Function:
    TSRun = tabu_search_functions.TabuSearch(InitialMethod='random',  _NumOfNeighbor=50, _NumOfSWAP=5, _NumOfTabuList=10, _MaxIteration=100)
    
    TimeRecord.append(time.time() - start_time)
    ScoreRecord.append(TSRun[0])
    Schedule_optimized.append(TSRun[1])

----------------RUN 1 ----------------
Initial Obj. Val.:  735.4819563152895
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 814.200553
BEST MEMBER:
 ['307857001', '', '307873001', '307035001', '', '356425001', '306736001', '306016002', '', '356813003', '306016022', '', '307932001', '356389001', '', '307867001', '356813002', '', '307942001', '356387001', '', '356813004', '356461001', '356395001', '306050011', '', '307034001', '307870001', '356813001', '356822001', '356564001', '356019001', '', '306737001', '307901001', '', '306525001', '356388001', '', '306008001', '', '306016012', '356808001', '307851001', '306000001']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 819.890788
BEST MEMBER:
 ['307870001', '306008001', '356822001', '356389001', '', '356388001', '306050011', '356395001', '', '356564001', '', '356425001', '307873001', '307857001', '', '', '306525001', '356461001', '307867001', '', '306736001', '307851001', '307035001', '', '356813004', '356813002', '', '356019001', '306016002', '', '307932001', '356813003', '', '306016012', '356813001', '306000001', '306016022', '356387001', '', '306737001', '307942001', '', '356808001', '307901001', '307034001']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 2 ----------------
Initial Obj. Val.:  768.5234826901493
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 821.854874
BEST MEMBER:
 ['306525001', '307942001', '', '307901001', '', '356387001', '307857001', '', '307851001', '356808001', '356461001', '', '356019001', '307870001', '', '306016012', '356388001', '307932001', '356813004', '', '306000001', '306737001', '307873001', '306016002', '307035001', '356813003', '', '306050011', '', '356395001', '306016022', '356813001', '', '306736001', '356389001', '356425001', '307034001', '306008001', '', '356822001', '356813002', '', '356564001', '307867001', '']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 821.854874
BEST MEMBER:
 ['306525001', '307942001', '', '307901001', '', '356387001', '307857001', '', '307851001', '356808001', '356461001', '', '356019001', '307870001', '', '306016012', '356388001', '307932001', '356813004', '', '306000001', '306737001', '307873001', '306016002', '307035001', '356813003', '', '306050011', '', '356395001', '306016022', '356813001', '', '306736001', '356389001', '356425001', '307034001', '306008001', '', '356822001', '356813002', '', '356564001', '307867001', '']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 3 ----------------
Initial Obj. Val.:  768.0408788742122
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 823.482258
BEST MEMBER:
 ['306736001', '', '307942001', '307873001', '306000001', '356808001', '306050011', '356389001', '356425001', '307034001', '307851001', '', '306737001', '', '356813001', '356813004', '', '356461001', '306525001', '', '356813002', '306008001', '356388001', '', '307035001', '356387001', '', '307932001', '307870001', '', '307901001', '307857001', '', '356564001', '306016002', '356019001', '306016012', '', '356395001', '307867001', '356822001', '', '306016022', '356813003', '']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 824.728050
BEST MEMBER:
 ['356564001', '356813001', '', '306008001', '307942001', '', '307873001', '356019001', '', '356813004', '', '306736001', '306525001', '356461001', '356388001', '306050011', '', '307035001', '306737001', '307851001', '', '306016012', '356387001', '', '307901001', '', '307857001', '307034001', '356813003', '356395001', '307867001', '307870001', '306000001', '307932001', '356389001', '', '306016002', '', '356425001', '356822001', '306016022', '', '356808001', '', '356813002']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 4 ----------------
Initial Obj. Val.:  768.7909004575672
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 814.335233
BEST MEMBER:
 ['356813001', '306000001', '', '356808001', '', '356425001', '307867001', '307034001', '307932001', '306737001', '356019001', '', '307901001', '307035001', '', '306016022', '307851001', '', '307857001', '307942001', '', '307873001', '356461001', '306016012', '306016002', '356813002', '', '', '356387001', '356822001', '356813004', '356395001', '', '306525001', '356813003', '', '306050011', '', '356564001', '306736001', '356389001', '', '306008001', '356388001', '307870001']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 817.432876
BEST MEMBER:
 ['', '356461001', '306016002', '307867001', '307932001', '', '356808001', '', '307901001', '306016012', '306736001', '', '307034001', '356388001', '', '306050011', '306008001', '', '356564001', '307035001', '356813003', '', '306525001', '356395001', '307857001', '356813002', '', '307873001', '307870001', '', '356813004', '307942001', '356822001', '306737001', '', '356813001', '356389001', '356019001', '306000001', '356387001', '', '306016022', '307851001', '356425001', '']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 5 ----------------
Initial Obj. Val.:  735.7737632737634
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 823.280238
BEST MEMBER:
 ['', '356395001', '356813001', '306050011', '307932001', '', '307034001', '356461001', '', '', '307901001', '356425001', '', '356813003', '307942001', '306016002', '306737001', '356388001', '306016012', '307873001', '306000001', '356387001', '356813002', '', '307851001', '356822001', '', '307857001', '306016022', '307035001', '356389001', '306008001', '', '306525001', '356564001', '', '356808001', '356813004', '', '307870001', '', '356019001', '307867001', '306736001', '']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 823.280238
BEST MEMBER:
 ['', '356395001', '356813001', '306050011', '307932001', '', '307034001', '356461001', '', '', '307901001', '356425001', '', '356813003', '307942001', '306016002', '306737001', '356388001', '306016012', '307873001', '306000001', '356387001', '356813002', '', '307851001', '356822001', '', '307857001', '306016022', '307035001', '356389001', '306008001', '', '306525001', '356564001', '', '356808001', '356813004', '', '307870001', '', '356019001', '307867001', '306736001', '']

TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 6 ----------------
Initial Obj. Val.:  775.0772684106017
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 824.312786
BEST MEMBER:
 ['306050011', '356813004', '', '306737001', '356019001', '356388001', '306016022', '306525001', '', '306016012', '307857001', '', '356387001', '356395001', '', '356808001', '356389001', '356813003', '307870001', '307035001', '', '356564001', '356461001', '', '306736001', '307942001', '', '307851001', '307034001', '306000001', '', '306016002', '356813001', '', '356813002', '306008001', '307932001', '', '356425001', '307901001', '307867001', '', '307873001', '356822001', '']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 828.622550
BEST MEMBER:
 ['356564001', '306016012', '', '356813003', '356813002', '', '306050011', '306525001', '', '307867001', '307034001', '', '306737001', '356387001', '', '306736001', '306016002', '', '356389001', '', '356425001', '356808001', '356019001', '356461001', '306008001', '356395001', '', '307035001', '306016022', '', '356813004', '', '307857001', '307851001', '356388001', '307942001', '307932001', '', '307901001', '307870001', '', '306000001', '307873001', '356822001', '356813001']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 7 ----------------
Initial Obj. Val.:  770.6777173443841
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 816.412199
BEST MEMBER:
 ['', '307932001', '307873001', '356813004', '', '356388001', '307035001', '356387001', '306000001', '306050011', '356813001', '356461001', '306016022', '307901001', '306736001', '356564001', '307870001', '356425001', '306016012', '307867001', '', '306737001', '356813002', '', '307851001', '356813003', '', '306008001', '307942001', '', '306525001', '307857001', '', '356822001', '356389001', '', '', '', '356395001', '307034001', '356808001', '', '306016002', '356019001', '']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 824.200553
BEST MEMBER:
 ['307901001', '306736001', '', '307035001', '307942001', '356425001', '307034001', '306016012', '', '', '306016002', '356461001', '306050011', '356019001', '306016022', '307870001', '306525001', '', '356813003', '356387001', '', '356564001', '356395001', '', '306008001', '356388001', '', '307851001', '356813002', '', '307932001', '356822001', '', '307873001', '356813001', '306737001', '307867001', '307857001', '', '356813004', '356808001', '', '356389001', '', '306000001']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 8 ----------------
Initial Obj. Val.:  751.5201156867823
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 818.735431
BEST MEMBER:
 ['356461001', '356813004', '', '306737001', '307901001', '356813002', '307035001', '307034001', '', '306050011', '307857001', '307942001', '356808001', '', '', '306016022', '356813003', '306000001', '306016002', '307873001', '', '306736001', '306525001', '356425001', '307870001', '356813001', '', '306008001', '356388001', '', '307867001', '356395001', '', '307851001', '', '307932001', '306016012', '356019001', '', '', '356387001', '356389001', '356564001', '356822001', '']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 818.735431
BEST MEMBER:
 ['356461001', '356813004', '', '306737001', '307901001', '356813002', '307035001', '307034001', '', '306050011', '307857001', '307942001', '356808001', '', '', '306016022', '356813003', '306000001', '306016002', '307873001', '', '306736001', '306525001', '356425001', '307870001', '356813001', '', '306008001', '356388001', '', '307867001', '356395001', '', '307851001', '', '307932001', '306016012', '356019001', '', '', '356387001', '356389001', '356564001', '356822001', '']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 9 ----------------
Initial Obj. Val.:  734.4045152378485
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 812.965985
BEST MEMBER:
 ['307870001', '', '356425001', '', '307867001', '306016022', '307034001', '306016002', '', '356564001', '306050011', '', '', '307857001', '307942001', '307851001', '', '356395001', '307035001', '306016012', '306000001', '307932001', '306736001', '', '306737001', '307901001', '', '356813004', '', '356388001', '306008001', '', '356813003', '356019001', '356461001', '', '', '356808001', '306525001', '307873001', '356813002', '356387001', '356389001', '356822001', '356813001']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 819.408184
BEST MEMBER:
 ['306016012', '356813002', '', '306737001', '', '356813001', '307942001', '306000001', '', '', '356019001', '356395001', '307867001', '', '356822001', '306016022', '306050011', '356461001', '307873001', '', '356425001', '356808001', '356388001', '306525001', '356564001', '307857001', '', '356387001', '307901001', '', '307851001', '356813003', '', '356389001', '306008001', '', '356813004', '306016002', '', '307034001', '', '307932001', '306736001', '307035001', '307870001']


TERMINATING - REACHED MAXIMUM STEPS


----------------RUN 10 ----------------
Initial Obj. Val.:  748.3663558663559
Initial Solution:
 ['306000001', '', '306008001', '', '', '306016002', '356425001', '', '306016012', '307873001', '', '307867001', '307942001', '', '307870001', '306016022', '307857001', '306050011', '356387001', '356388001', '307851001', '306525001', '', '307035001', '306736001', '356395001', '307034001', '356461001', '', '306737001', '307932001', '', '356822001', '', '356389001', '356019001', '356564001', '', '307901001', '356813001', '', '356808001', '', '', '']


TABU SEARCH:
CURRENT STEPS: 50
BEST SCORE: 817.780799
BEST MEMBER:
 ['307857001', '356813002', '', '306736001', '307901001', '', '306016002', '', '306000001', '306050011', '306016022', '356425001', '356808001', '306008001', '', '356564001', '307870001', '', '307932001', '356389001', '306525001', '307873001', '356387001', '307034001', '356813001', '307942001', '', '', '356813003', '307867001', '', '356019001', '356388001', '356813004', '356822001', '', '306737001', '307851001', '', '', '306016012', '356395001', '307035001', '', '356461001']


TABU SEARCH:
CURRENT STEPS: 100
BEST SCORE: 825.345334
BEST MEMBER:
 ['356389001', '307857001', '', '307034001', '306525001', '', '306737001', '', '307870001', '307873001', '356461001', '', '356808001', '356822001', '', '306050011', '356019001', '', '306016022', '307035001', '356425001', '307851001', '356813003', '', '306016012', '356813001', '356388001', '307867001', '356395001', '356564001', '307942001', '356813004', '', '307901001', '', '306000001', '', '356813002', '356387001', '306008001', '306016002', '', '306736001', '307932001', '']

TERMINATING - REACHED MAXIMUM STEPS

In [3]:
# 展示結果

for i in range(len(ScoreRecord)):
    print('第',i,'輪分數(0~1000分): %.2f' %ScoreRecord[i], '  第',i,'輪耗時（秒）: %.2f' %TimeRecord[i])
print('此10輪最佳解為：\n')
functions.ListToSchedule(Schedule_optimized[np.argmax(ScoreRecord)])

第 0 輪分數(0~1000分): 819.89   第 0 輪耗時（秒）: 25.07
第 1 輪分數(0~1000分): 821.85   第 1 輪耗時（秒）: 24.92
第 2 輪分數(0~1000分): 824.73   第 2 輪耗時（秒）: 23.26
第 3 輪分數(0~1000分): 817.43   第 3 輪耗時（秒）: 23.22
第 4 輪分數(0~1000分): 823.28   第 4 輪耗時（秒）: 24.54
第 5 輪分數(0~1000分): 828.62   第 5 輪耗時（秒）: 23.98
第 6 輪分數(0~1000分): 824.20   第 6 輪耗時（秒）: 25.76
第 7 輪分數(0~1000分): 818.74   第 7 輪耗時（秒）: 24.21
第 8 輪分數(0~1000分): 819.41   第 8 輪耗時（秒）: 23.61
第 9 輪分數(0~1000分): 825.35   第 9 輪耗時（秒）: 23.70
此10輪最佳解為：

             Mon                              Tue                        \
           Room1      Room2      Room3      Room1      Room2      Room3
0  上午  356564001  306016012             356813003  356813002
1  下午  306736001  306016002             356389001             356425001
2  晚上  356813004             307857001  307851001  356388001  307942001

         Wed                              Thu                        \
       Room1      Room2      Room3      Room1      Room2      Room3
0  306050011  306525001             307867001  307034001
1  356808001  356019001  356461001  306008001  356395001
2  307932001             307901001  307870001             306000001

         Fri
       Room1      Room2      Room3
0  306737001  356387001
1  307035001  306016022
2  307873001  356822001  356813001

# genetic algorithm

In [8]:
import genetic_algorithm_functions as GA

best_schedule_list = []
best_score_list = []
calculate_time_list = []

for i in range(10):
    print("------ 第 {} 次找解 ------".format(i+1))
    start_time = time.time()
    best_schedule,best_score = GA.get_one_ans()
#     best_schedule,best_score = get_one_ans_print_details()
    end_time = time.time()
    
    best_schedule_list.append(best_schedule)
    best_score_list.append(best_score)
    calculate_time_list.append(end_time - start_time)

------ 第 1 次找解 ------
初始解1得分為: 695.3535353535353
初始解2得分為: 710.6509539842873
---> 已找到最佳解，得分為：737.0594837261503

------ 第 2 次找解 ------
初始解1得分為: 712.267115600449
初始解2得分為: 687.2951739618406
---> 已找到最佳解，得分為：740.8080808080808

------ 第 3 次找解 ------
初始解1得分為: 740.392817059484
初始解2得分為: 719.9214365881032
---> 已找到最佳解，得分為：749.7755331088666

------ 第 4 次找解 ------
初始解1得分為: 703.0976430976431
初始解2得分為: 699.3602693602694
---> 已找到最佳解，得分為：737.6543209876543

------ 第 5 次找解 ------
初始解1得分為: 698.2267115600449
初始解2得分為: 711.2906846240179
---> 已找到最佳解，得分為：739.7867564534232

------ 第 6 次找解 ------
初始解1得分為: 743.7373737373738
初始解2得分為: 722.5364758698092
---> 已找到最佳解，得分為：755.8024691358027

------ 第 7 次找解 ------
初始解1得分為: 723.0190796857464
初始解2得分為: 685.9932659932659
---> 已找到最佳解，得分為：733.5802469135803

------ 第 8 次找解 ------
初始解1得分為: 725.3086419753087
初始解2得分為: 716.8574635241304
---> 已找到最佳解，得分為：735.2525252525253

------ 第 9 次找解 ------
初始解1得分為: 722.4466891133559
初始解2得分為: 719.8540965207633
---> 已找到最佳解，得分為：742.682379349046

------ 第 10 次找解 ------
初始解1得分為: 741.604938271605
初始解2得分為: 737.2053872053872
---> 已找到最佳解，得分為：759.7306397306397

In [9]:
print(best_score_list)
print(calculate_time_list)

[737.0594837261503, 740.8080808080808, 749.7755331088666, 737.6543209876543, 739.7867564534232, 755.8024691358027, 733.5802469135803, 735.2525252525253, 742.682379349046, 759.7306397306397]
[16.70146155357361, 16.91653037071228, 16.84905457496643, 17.05465006828308, 16.931752681732178, 18.678812980651855, 15.893055438995361, 18.515122413635254, 15.532657384872437, 17.30734658241272]

In [14]:
print('此10輪最佳解為：\n')
# print(best_schedule_list[best_score.index(max(best_score))])
# functions.ListToSchedule(np.argmax(best_schedule_list))
functions.ListToSchedule(best_schedule_list[9])

此10輪最佳解為：

             Mon                              Tue                        \
           Room1      Room2      Room3      Room1      Room2      Room3
0  上午  356822001  307932001  306050011  307035001  356389001
1  下午  306008001             356395001  356388001  307857001  356813004
2  晚上             307870001  356425001  306016022             356813001

         Wed                              Thu                         Fri  \
       Room1      Room2      Room3      Room1      Room2 Room3      Room1
0  356808001             306000001  306016012                   306736001
1  306525001             356813003  307034001  307867001        356387001
2  307851001  307873001             356019001  307901001        307942001


       Room2      Room3
0  306737001
1  356461001  356564001
2  306016002  356813002